body{
    background: #F8F0E5;
    margin: 2%;
}

hr{
    background: #DAC0A3;
    height: 1px;
    border: 0;

}

H1{
    color: #102C57;
}

div.first{
    margin: 0 auto;
    background: #EADBC8;
    padding: 2%;
}