body {

    margin: 2%;
}

hr {
    background: black;
    height: 1px;
    border: 0;

}

table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
}
th, td {
    border-bottom: 1px solid #444444;
    border-left: 1px solid #444444;
    padding: 10px;
}
th:first-child, td:first-child {
    border-left: none;
}



/*first*/

div.first {

    padding: 2%;
    margin-bottom: 10%;
}

div.first > h1 {

}

div.first > p {
    padding: 5px;
}


/*study*/

div.study {
    padding: 2%;
    margin-bottom: 20%;
}

div.study > h1 {
    margin-top: 10%;
}

div.study > p {
    padding: 5px;
}

div.study > pre {
    background: #252B48;
    margin: 5%;
}

div.study > pre > code {
    color: white;
}

div.study > div.important {
    padding: 1%;
    background: aliceblue;
    border-radius: 30px 10px;
    margin: 1%;
}

div.study > div.important > p {
    font-weight: bold;
}


div.study > div.notice {
    padding: 5px 10px;
    background: #EDE4FF;
    border-radius: 20px 10px;
    margin: 2%;
}

div.study > div.notice > h3 {
    color: #A076F9;
    margin-left: 1%;
}

div.study > div.notice > p.concept {
    padding: 10px 10px;
    border-radius: 20px 10px;
    background: #D7BBF5;
    font-weight: bold;
}

div.study > div.notice > p {
    padding: 1%;
}

div.study > div.addition {
    padding: 1%;
    background: #FFF0F5;
    border-radius: 10px 10px 10px 10px;
    margin: 2%;
}


/*end*/

div.end{
    padding: 2%;
    margin-bottom: 10%;
}

div.end > h1 {

}

div.end > p {
    padding: 5px;
}