body{

    margin: 2%;
}

hr{

    height: 1px;
    border: 0;

}

div.first{

    padding: 2%;
    margin-bottom: 10%;
}
div.first > h1{

}

div.first > p{
    padding: 5px;
}



div.study{
    padding: 2%;
    margin-bottom: 10%;
}
div.study > h1{

}
div.study > p{
    padding: 5px;
}